.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}
.header-title {
    color: #333;
}
.search-box{
    background: #eee;
    padding: 0 10px;
    border-radius: 4px;
    display: flex;
    gap: 10px;
    align-items: center;
}
.search-box .search-icon {
    cursor: pointer;
}
.search-box input {
    padding: 10px;
    background: transparent;
}
.user-box {
    display: flex;
    align-items: center;
    gap: 20px;
}
.user-box .user--icon {
    background: #eee;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid #eee;
}
.user--icon:hover {
    color: #333;
    background: #fff;
    border: 1px solid gray;
    transition: all 0.5s ease-in;
}
button {
    background: bisque;
    padding: 10px;
    border-radius: 4px;
    font-weight: 500;
}

@media (max-width: 860px) {
    .search-box {
        display: none;
    }
    .user-box button{
        display: none;
    }
}

@media (max-width: 500px) {
    .header-title {
        display: none;
    }
    .user-box {
        width: 100%;
        justify-content: flex-end;
    }
}